.job_map {
    background-image: url(./../img/img_map.png);
    background-color: #A1ABB1;
    display: flex;
    position: relative;
    align-items: center;
    min-height: 590px;
    padding: 20px;
    background-position: 80% -40px;

    .container {
        width: 100%;
        max-width: 1290px;
        margin: 0 auto;
    }

    h2 {
        font-family: Geologica;
        font-size: 64px;
        font-weight: 500;
        line-height: 83.2px;
        text-align: left;
        max-width: 370px;
    }

    .surg,
    .tum {
        position: absolute;
        padding: 20px 30px 30px;
        font-family: Geologica;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.6px;
        text-align: left;
        width: 100%;
        max-width: 300px;
        background-color: #FFF;


        h3 {
            font-family: Geologica;
            font-size: 18px;
            font-weight: 600;
            line-height: 25.2px;
            text-align: left;
            margin-bottom: 10px;
        }

    }

    .surg {
        top: 166px;
        left: 80%;
        transform: translateX(-169%);
    }

    .tum {
        top: 362px;
        left: 80%;
        transform: translateX(-225%);
    }

    @media (max-width: 1200px) {
        background-position: 90% -40px;

        .surg {
            top: 166px;
            left: 76%;
            transform: translateX(-100%);
        }

        .tum {
            top: 440px;
            left: 89%;
            transform: translateX(-100%);
        }
    }

    @media (max-width: 1000px) {
        background-image: url(./../img/img_map.png);
        background-position: 102% 108%;

        .surg {
            top: 288px;
            left: 92%;
            transform: translateX(-100%);
        }

        .tum {
            top: 440px;
            left: 92%;
            transform: translateX(-100%);
        }
    }

    @media (max-width: 720px) {
        background-position: 50% 33%;
        min-height: 1140px;
        align-items: start;

        h2 {
            font-family: Geologica;
            font-size: 48px;
            font-weight: 500;
            line-height: 62.4px;
            text-align: center;
            margin: 0 auto;
        }

        .surg {
            top: 73%;
            left: 50%;
            transform: translateX(-50%);
        }

        .tum {
            top: 86%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    @media (max-width: 375px) {
        h2 {
            text-align: left;
            margin: 0;
        }
    }
}